header {
  display: flex;
  grid-template-columns: repeat(6, 1fr);
  grid-gap: 10px;
  align-items: end;
  border-bottom: .3rem solid hotpink;
}

h1 {
  grid-column: 1/span 2;
  margin-left: 1rem;
  color: rebeccapurple;
}

nav {
  grid-column: 5/ span 2;
}

nav a {
  text-decoration: none;
  color: goldenrod;
  font-size: 100px;
}
